@import url('https://fonts.googleapis.com/css2?family=Sono:wght@300;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Sono', sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
  /* background-color: #ffe6e6;  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
